<div class="left-column">
<h2>Edit <%= @user.name %></h2>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <div class="span-4 form-label">
  <%= f.submit "Update" %>
  </div>
<% end %>

<br />
<div class="span-22" style="margin-bottom:15px;"><%= link_to "My Profile", user_path %></div>
</div>