<h3>Your Profile</h3>
<ul>
<li><%= @user.name %></li>
<li><%= @user.address %></li>
<li><%= @user.phone %></li>
</ul>

<% order = @user.current_order %>
<h3>Your Order <%= (order ? " for #{date_format(order.delivery_cycle.pickup_open)}" : '') %></h3>
  <ul>
  <% if order %>
    <li>You have <%= order.orderables.size %> items in your order.</li>
    <li><%= (order.final ? 'Your order is finalized.' : 'Your order is not yet finalized.') %></li>
    <li><%= link_to 'View my order', user_order_url(@user,order) %></li>
  <% else %>
    <li>You have no items in your cart.</li>
  <% end %>
  </ul>

<h3>Your Producer Accounts</h3>
<% if @user.managed_accounts.size > 0 %>
  <ul>
    <% @user.managed_accounts.each do |acct| %>
      <li><%= link_to (acct.producer_name ? acct.producer_name : 'New Producer Account'), acct %>
          <% unless acct.producer_name %>
            (<%= link_to 'Edit me!', edit_account_path(acct) %>)
          <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <li>You have no producer accounts.</li>
    <% @user.producer_account_requests.each do |par| %>
      <% if par.status == 'Pending' %>
        <li>The producer account requested on <%= par.created_at %> is <%= par.status %></li>
      <% else %>
        <li>The producer account requested on <%= par.created_at %> was <%= par.status %> at <%= par.status_changed_at %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'Request a producer account', request_producer_account_user_path(@user) %></li>
  </ul>
<% end %>

<h3>Order History</h3>
<%= render :partial => '/common/order', :collection => @user.orders %>

<%= link_to 'Edit', edit_user_path %>