<div class="span-24 last left-column">
<h3>Order for <%=h @order.user.name %></h3>

<p>
  Order period from <%= date_format(@order.delivery_cycle.order_open) %> to 
                    <%= date_format(@order.delivery_cycle.order_close) %><br />
  Pick up from <%= date_format(@order.delivery_cycle.pickup_open) %> 
            to <%= date_format(@order.delivery_cycle.pickup_close) %>
</p>

<h3>Order Status</h3>
<% if @order.final %>
  <ul>
    <li><b>This order is final.</b></li>
    <li><%= link_to 'View your invoice', invoice_user_order_url(@order.user, @order) %></li>
  </ul>
<% else %>
 <ul>
   <li><b>This order is not yet final.</b></li>
   <% if @current_delivery_cycle and @current_delivery_cycle.is_order %>
    <li><%= link_to 'Commit to Order', terms_user_order_url(@order.user,@order) %>
   <% end %>
 </ul>
<% end %>

<h3>Line Items</h3>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Ordering Unit</th>
    <th>Unit Price</th>
    <th>Total Price</th>
    <th>Remove One</th>
    <th>Remove All</th>
    <th>
  </tr>
<% @order.line_items.each do |line_item| %> 
  <tr>
    <td><%= line_item.product.title %></td>
    <td><%= line_item.item_count %></td>
    <td><%= line_item.product.ordering_unit %></td>
    <% if line_item.product.sold_by_weight %>
      <td><%= as_money(line_item.product.estimated_price) %>*</td>
    <% else %>
      <td><%= as_money(line_item.product.price_in_dollars) %></td>
    <% end %>
    <td><%= as_money(line_item.total_price_in_dollars) %><%= (line_item.product.sold_by_weight ? '*' : '') %></td>
    <td><%= link_to 'remove one', remove_from_cart_user_path(@order.user, :line_item_id => line_item) %></td>
    <td><%= link_to 'remove all', remove_all_from_cart_user_path(@order.user, :line_item_id => line_item) %></td>
  </tr>
<% end %>
   <tr>
     <td style="border-top:1px solid black;"></td>
     <td style="border-top:1px solid black;"></td>
     <td style="border-top:1px solid black;"></td>
    <td style="border-top:1px solid black;">SubTotal:</td>
     <td style="border-top:1px solid black;"><%= as_money(@order.subtotal) %><%= @order.includes_sold_by_weight ? '*' : '' %></td>
     <td style="border-top:1px solid black;"></td>
     <td style="border-top:1px solid black;"></td> 
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td></td>
    <td>Market Fee:</td>
     <td><%= as_money(@order.member_surcharge) %><%= @order.includes_sold_by_weight ? '*' : '' %></td>
     <td></td>
     <td></td>
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td></td>
     <td>Total:</td>
     <td><%= as_money(@order.total) %><%= @order.includes_sold_by_weight ? '*' : '' %></td>
      <td></td>
      <td></td>
   </tr>    
</table>

<p>* <%= SOLD_BY_WEIGHT_EXPLANATION %></p>
</div>