<p>
  <%= form.label :edit_open %><br />
  <%= form.datetime_select :edit_open %>
</p>
<p>
  <%= form.label :edit_close %><br />
  <%= form.datetime_select :edit_close %>
</p>
<p>
  <%= form.label :order_open %><br />
  <%= form.datetime_select :order_open %>
</p>
<p>
  <%= form.label :order_close %><br />
  <%= form.datetime_select :order_close %>
</p>
<p>
  <%= form.label :delivery_open %><br />
  <%= form.datetime_select :delivery_open %>
</p>
<p>
  <%= form.label :delivery_close %><br />
  <%= form.datetime_select :delivery_close %>
</p>