<div class="span-24" style="margin-bottom:25px;">
  <div class="span-10">
    <%= form.label :edit_open %><br />
    <%= form.datetime_select :edit_open %>
  </div>
  <div class="span-10 last">
    <%= form.label :edit_close %><br />
    <%= form.datetime_select :edit_close %>
  </div>
  <div class="span-10">
    <%= form.label :order_open %><br />
    <%= form.datetime_select :order_open %>
  </div>
  <div class="span-10 last">
    <%= form.label :order_close %><br />
    <%= form.datetime_select :order_close %>
  </div>
  <div class="span-10">
    <%= form.label :delivery_open %><br />
    <%= form.datetime_select :delivery_open %>
  </div>
  <div class="span-10 last">
    <%= form.label :delivery_close %><br />
    <%= form.datetime_select :delivery_close %>
  </div>
  <div class="span-10">
    <%= form.label :pickup_open %><br />
    <%= form.datetime_select :pickup_open %>
  </div>
  <div class="span-10 last">
    <%= form.label :pickup_close %><br />
    <%= form.datetime_select :pickup_close %>
  </div>
</div>