<h2>Listing Delivery Cycles</h2>

<table>
  <tr>
    <th>Edit open</th>
    <th>Edit close</th>
    <th>Order open</th>
    <th>Order close</th>
    <th>Delivery open</th>
    <th>Delivery close</th>
    <th>Pick Up open</th>
    <th>Pick Up close</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @delivery_cycles.each do |delivery_cycle| %>
  <tr <%= "style='background-color:yellow;'" if delivery_cycle.is_current %>>
    <td><%=h date_fmt(delivery_cycle.edit_open) %></td>
    <td><%=h date_fmt(delivery_cycle.edit_close) %></td>
    <td><%=h date_fmt(delivery_cycle.order_open) %></td>
    <td><%=h date_fmt(delivery_cycle.order_close) %></td>
    <td><%=h date_fmt(delivery_cycle.delivery_open) %></td>
    <td><%=h date_fmt(delivery_cycle.delivery_close) %></td>
    <td><%=h date_fmt(delivery_cycle.pickup_open) if delivery_cycle.pickup_open %></td>
    <td><%=h date_fmt(delivery_cycle.pickup_close) if delivery_cycle.pickup_close %></td>
    <td><%= link_to 'Edit', edit_admin_delivery_cycle_path(delivery_cycle) %></td>
    <td><%= link_to 'Destroy', admin_delivery_cycle_path(delivery_cycle), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h5>Duplicate the final delivery cycle</h5>
<p>Clicking duplicate will use the spacing between the dates of the final delivery cycle to generate a new delivery cycle beginning at the date and time selected here.  If you have a recurring market, you can use this by defining a single cycle and using this button to generate all of the following cycles.</p>
<% if @delivery_cycles.size > 0 %>
<p><% form_tag duplicate_admin_delivery_cycle_path(@delivery_cycles.first) do -%>
    <div>Start date: <%= datetime_select 'delivery_cycle', 'start_date', :default => @delivery_cycles.first.pickup_close %>
    <%= submit_tag 'Duplicate' %></div>
  <% end -%>
</p>
<% end %>

<%= link_to 'New delivery cycle', new_admin_delivery_cycle_path %>