<h2>Sitewide Admin</h2>

<h3>General</h3>
<ul>
  <li><%= link_to 'Manage Users', :controller=>'/admin/users' %></li>
  <li><%= link_to 'Manage Producer Account Requests', :controller=>'/admin/producer_account_requests'%></li>
  <li><%= link_to 'Manage Product Categories', :controller=>'/admin/categories'%></li>
  <li><%= link_to 'Manage Delivery Cycles', :controller=>'/admin/delivery_cycles'%></li>
  <li><%= link_to 'Manage Site Content', :controller=>'/comatose_admin' %></li>
</ul>