<div class="span-23 last left-column">
<h2>Sitewide Admin</h2>

<h3>General</h3>
<ul>
  <li><%= link_to 'Manage Users', :controller=>'/admin/users' %></li>
  <li><%= link_to 'Manage Producer Account Requests', :controller=>'/admin/producer_account_requests'%></li>
  <li><%= link_to 'Manage Product Categories', :controller=>'/admin/categories'%></li>
  <li><%= link_to 'Manage Delivery Cycles', :controller=>'/admin/delivery_cycles'%></li>
  <li><%= link_to 'Manage Site Content', :controller=>'/comatose_admin' %></li>
</ul>

<h3>Invoices</h3>
<ul>
  <% @delivery_cycles.each do |delivery_cycle| %>
    <li>View all invoices for delivery on <%= date_format(delivery_cycle.delivery_open) %>: 
          <%= link_to 'for customers', :controller=>'/admin/reports', :action=>'invoices_by_customer', :delivery_cycle_id=>delivery_cycle.id %>,
          <%= link_to 'for producers', :controller=>'/admin/reports', :action=>'invoices_by_producer', :delivery_cycle_id => delivery_cycle.id %></li>
  <% end %>
</ul>

</div>