<div class="span-4 form-label">
  <%= form.label :name %></div>
<div class="span-18">
  <%= form.text_field :name %>
</div>
<div class="span-4 form-label">
  <%= form.label :parent_id %></div>
<div class="span-18">
  <%= select("category", "parent_id", @categories.collect {|c| [ c.name, c.id ] }, {:include_blank => true}) %>
</div>
<div class="span-4 form-label">
  <%= form.label :image_url %></div>
<div class="span-18">
  <%= form.text_field :image_url %>
</div>