<div class="left-column">
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Make Admin</th>
    <th>View Profile</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.email %></td>
    <td><%= (user.admin ? 'yes' : 'no') %></td>
    <td><% if user.admin and user != @current_user %>
          <%= link_to 'Remove Admin', remove_admin_admin_user_path(user) %>
        <% elsif !user.admin %> 
          <%= link_to 'Make Admin', make_admin_admin_user_path(user)  %>
        <% end %></td>
    <td><%= link_to 'View Profile', user_path(user) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user_path(user), :method => :delete %></td>
<% end %>
</table>
</div>