<div class="span-4 form-label">
  <%= form.label :category %></div>
<div class="span-18">
  <select name="product[category_id]">
    <%= expand_tree_into_select_field(Category.root_categories) %>
  </select>
  <% if @product %>
    <%= link_to 'Want to request a new category?', category_request_user_path(@current_user, :account_id => @account.id, :product_id => @product.id) %>
  <% else %>
      <%= link_to 'Want to request a new category?', category_request_user_path(@current_user, :account_id => @account.id) %>
  <% end %>
</div>
<div class="span-4 form-label">
  <%= form.label :title %></div>
<div class="span-18">
  <%= form.text_field :title %>
</div>
<div class="span-4 form-label">
  <%= form.label :image_url %></div>
<div class="span-18">
  <%= form.text_field :image_url %>
</div>
<div class="span-4 form-label">
  <%= form.label :description %></div>
<div class="span-18">
  <%= form.text_area :description %>
</div>
<div class="span-4 form-label">
  <%= form.label :ordering_unit %></div>
<div class="span-18">
  <%= form.text_field :ordering_unit %>
</div>
<div class="span-4 form-label">
  <%= form.label :price_in_dollars %></div>
<div class="span-18">
  <%= form.text_field :price_in_dollars %>
</div>
<div class="span-4 form-label">
  <%= form.label :storage %></div>
<div class="span-18">
  <%= select("product", "storage", Product.storage_options) %>
</div>