<div class="span-4 form-label">
  <%= form.label :category %></div>
<div class="span-18">
  <select name="product[category_id]">
    <%= expand_tree_into_select_field(Category.root_categories) %>
  </select>
  <% if @product %>
    <%= link_to 'Want to request a new category?', category_request_user_path(@current_user, :account_id => @account.id, :product_id => @product.id) %>
  <% else %>
      <%= link_to 'Want to request a new category?', category_request_user_path(@current_user, :account_id => @account.id) %>
  <% end %>
</div>
<div class="span-4 form-label">
  <%= form.label :title %></div>
<div class="span-18">
  <%= form.text_field :title %>
</div>
<div class="span-4 form-label">
  <%= form.label :image_url %></div>
<div class="span-18">
  <%= form.text_field :image_url %>
  <div>
    <%= render :comatose => '/views/products/image_help' %>
  </div>
</div>
<div class="span-4 form-label">
  <%= form.label :description %></div>
<div class="span-18">
  <%= form.text_area :description %>
</div>
<div class="span-4 form-label">
  <%= form.label :ordering_unit, 'Sold by' %></div>
<div class="span-18">
  <div class="span-4">
    <%= select "product", "ordering_unit", Product.ordering_units, {}, {:onChange=>'updatePriceLabel(this.value);'} %>
  </div>
  <div id="weight_fields">
    <div class="span-4 form-label">
      <%= form.label :min_weight, 'Min Weight (lbs)' %>
    </div>
    <div class="span-2">
      <%= form.text_field :min_weight, :size => 5 %>
    </div>
    <div class="span-3 form-label">
      <%= form.label :max_weight, 'Max Weight (lbs)' %>
    </div>
    <div class="span-2 last">
      <%= form.text_field :max_weight, :size => 5 %>
    </div>
  </div>
</div>
 
<script>
  $(document).ready(function() { 
    updatePriceLabel($('#product_ordering_unit').val())
  });
  
  function updatePriceLabel(value) { 
    var price_label = document.getElementById('priced_by_label');
    var weight_fields = document.getElementById('weight_fields');
    if (value == 'each, priced by the pound') { 
      price_label.innerHTML = '<label for="product_price_in_dollars">Price per pound</label>'; 
      weight_fields.style.visibility='visible'; 
    } else { 
      price_label.innerHTML = '<label for="product_price_in_dollars">Price per ' + value + '</label>'
      weight_fields.style.visibility='hidden'; 
    }
  }
</script>

<div class="span-4 form-label" id='priced_by_label'>
  <%= form.label :price_in_dollars, 'Price per unit' %></div>
<div class="span-18">
  $<%= form.text_field :price_in_dollars, :size => 5 %>
</div>
<% %>
<div class="span-4 form-label">
  <%= form.label :storage %></div>
<div class="span-18">
  <%= select("product", "storage", Product.storage_options) %>
</div>