<div id="sidebar">
  <%= render :partial => 'common/login_form' %>
  
  <h4>Filter Products</h4>
  <b>By Status:</b>
  <ul>
    <li><%= link_to "Available for Order (#{@facets[:statuses][:available]})", products_url(:search => @search.conditions.merge(:available_orderables_id_greater_than => 0)) %></li>
    <% unless @current_delivery_cycle and @current_delivery_cycle.is_order %>
      <li><%= link_to "Any Product", products_url(:search => @search.conditions.reject{|k,v| k == :available_orderables_id_greater_than }) %></li>
    <% end %>
  </ul>
  
  <b>By Category:</b>
  <%= category_facets(@root_categories, @facets, @search, true) %>
  
  <b>By Producer:</b>
  <ul>
    <% @facets[:accounts].each_pair do |acct, cnt| %>
      <% if cnt > 0 %>
        <li><%= link_to "#{acct.name} (#{cnt})", products_url(:search => @search.conditions.merge(:account_id_equals => acct.id)) %></li>
      <% end %>
    <% end %>
    <li><%= link_to "Any Producer", products_url(:search => @search.conditions.reject{|k,v| k == :account_id_equals }) %></li>
  </ul>
  
  <h4>Producer Profiles</h4>
  <ul>
    <% @sidebar_producers.each do |prod| %>
      <li><%= link_to prod.producer_name, prod %></li>
    <% end %>
  </ul>

</div>