<div class="left-column">
<h2>New product</h2>

<% form_for([@account,@product]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>
  <div class="span-4 form-label">
    <%= label_tag 'Add another product' %></div>
  <div class="span-18">
    <%= check_box_tag('add_another', value = "1", checked = false, options = {}) %>
  </div>
  <div class="span-4 form-label">
    <%= f.submit 'Create' %>
  </div>
<% end %>
<div class="span-22" style="margin-bottom:15px;">
<%= link_to 'Back', account_products_path(@account) %>
</div>
</div>