<div class="left-column">
<h2>New product</h2>

<% form_for([@account,@product]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>
  <p>
    <%= label_tag 'Add another product' %>
    <%= check_box_tag('add_another', value = "1", checked = false, options = {}) %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', account_products_path(@account) %>
</div>