<div id="<%=dom_id(@product)%>" class="left-column">
  <div class="span-3">
      <%= image_for(@product) %>
  </div>
  
  <div>
    <p><b><%= link_to @product.title, account_product_path(@product.account,@product) %></b><br />
         From <%= link_to @product.account.name, account_path(@product.account) %><br />
         <%= @product.description %><br />
         Category: <%= (@product.category ? @product.category.name : 'Uncategorized') %></p>
  </div>
    
  <div>
      <p><%= @product.formatted_price %> per <%= @product.ordering_unit %><br />
         <%= @product.available_orderables.count %> currently available for purchase<br />
         <% if can_edit(@product) %>
           <%= @product.carted_orderables.count %> currently in shopping carts<br />
           <%= @product.ordered_orderables.count %> currently in completed orders<br />
         <% end %>
         <% if @current_user and @current_user.current_order %>
           <%= @current_user.current_order.count_product(@product) %> currently in 
           <%= (@current_user.current_order.final ? ' your completed order' : ' your shopping cart') %>
         <% end %>
  </div> 

  <div>
    <ul>
      <% if can_edit(@product) and @current_delivery_cycle and @current_delivery_cycle.is_edit%>
        <li><%= link_to 'Edit', edit_account_product_path(@product.account,@product) %></li>
        <li><%= link_to 'Delete', account_product_path(@product.account,@product), :method => :delete %></li>
        <li><% form_remote_tag :url => make_orderable_account_product_path(@product.account,@product) do -%>
          <div><%= text_field_tag 'number', 0, :size => 3 %> <%= submit_tag 'Add Inventory' %></div>
            <% end -%></li>
        <li><% form_remote_tag :url => remove_orderable_account_product_path(@product.account,@product) do -%>
          <div><%= text_field_tag 'number', 0, :size => 3 %> <%= submit_tag 'Drop Inventory' %></div>
            <% end -%></li>
      <% end %>
      <% if @current_user and @current_delivery_cycle and @current_delivery_cycle.is_order and @product.available_orderables.count > 0 %>
        <li><%= link_to 'Add to cart', add_to_cart_user_url(@current_user, :product_id => @product.id) %></li>
      <% end %>
    </ul>
  </div>


<% if @account %>
  <%= link_to 'Edit', edit_account_product_path(@account,@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
</div>