<div class="span-24 last">
  <div id="header">
    <div class="span-24 last">
      <div class="span-9" style="margin-top:5px;">
        <span id="logo" name="logo"></span>
      </div>
      <div class="span-15 last">
        <div class="span-15 last" style="margin-top:5px;">
          <h3 style="color:white;">Welcome to the Eno River Farmers Market<%= (@current_user ? ", #{@current_user.first_name}" : "" )%></h3>
        </div>
        <% if @current_delivery_cycle %>
        <div class="span-14 last" style="color:white;background-color:#53D03F;padding:5px;border:1px white dashed;">
          <%= present_cycle(@current_delivery_cycle) %></div>
        <% end %>
      </div>
    </div>
    <div class="span-24 last nav-buttons">
      <%= link_to 'Home', root_path %> 
      <%= link_to 'Shop', products_path %> 
      <% if @current_user and @current_user.current_order %>
       <%= link_to (@current_user.current_order.final ? 'View My Order' : 'View My Cart'), user_order_path(@current_user,@current_user.current_order) %> 
      <% end %>
      <% if @current_user_session %>
         <%= link_to 'My Profile', user_path(@current_user) %>  
      <% end %>
      <% if @current_user and @current_user.admin %>
         <%= link_to 'Administer Site', '/admin' %>  
      <% end %>
      <% if @current_user_session %>
         <%= link_to 'Log Out',  user_session_path, :method => :delete %>
      <% else %>
         <%= link_to 'Log In', new_user_session_path %> 
         <%= link_to 'Sign Up', new_user_path %>
      <% end %> 
    </div>
  </div>
</div>
