<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<%= render :partial => 'layouts/head_tag' %>
<body>

<div class="container">
  <div class="column span-24">

    <!-- header start -->
    <%= render :partial => 'layouts/header' %>
    <!-- header end -->

    <div class="clear"></div>  

    <div class="span-24 last main-content">
      <div class="span-24 last">
        <% if flash[:notice] %>
          <div class="success"><%= flash[:notice] %></div>
        <% end -%>
      </div>
      <div class="column span-24">
        <%= yield %>
      </div>
    </div>

    <!-- footer start -->
    <%= render :partial => 'layouts/footer' %>
    <!-- header end -->

  </div>
</div>  

</body>

</html>
