<div class="span-4 form-label">
<%= form.label :producer_name %>
</div>
<div class="span-11 last">
<%= form.text_field :producer_name %>
</div><br />
<div class="span-4 form-label">
<%= form.label :logo_url %>
</div>
<div class="span-11 last">
<%= form.text_field :logo_url %>
</div><br />
<div class="span-4 form-label">
<%= form.label :street %>
</div>
<div class="span-11 last">
<%= form.text_field :street %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :city %></div>
<div class="span-11 last">
<%= form.text_field :city %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :state %></div>
<div class="span-11 last">
<%= select(:account, :state, state_select) %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :zipcode %></div>
<div class="span-11 last">
<%= form.text_field :zipcode %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :phone %></div>
<div class="span-11 last">
<%= form.text_field :phone %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :description %></div>
<div class="span-11 last">
<%= form.text_area :description %><br />
</div><br />
<div class="span-4 form-label">
<%= form.label :website_url %></div>
<div class="span-11 last">
<%= form.text_field :website_url %></div>