<div class="column span-17 left-column">
<div class="span-3" style="margin-bottom:15px;">
  <%= image_for(@account) %>
</div>
<div class="span-14 last">
<h2><%= @account.producer_name %>
    <% if can_edit(@account) %>
      (<%= link_to 'edit', edit_account_path(@account) %>) 
    <% end %>
</h2>
</div>
<div class="span-17 last">
<p><%= @account.description %></p>

<p><%=h @account.street %><br />
   <%=h @account.city %><br />
   <%=h @account.state %>, <%=h @account.zipcode %><br />
   <%= "Phone: #{@account.phone}" unless @account.phone.blank? %><br />
   <%= "Website: #{@account.website_url}" unless @account.website_url.blank? %>
</p>

<% if @current_delivery_cycle and @current_delivery_cycle.is_after_order %>
<h3>Producer Invoices</h3>
  <ul>
    <li><%= link_to 'Producer invoice by customer', invoice_by_customer_account_url(@account) %></li>
    <li><%= link_to 'Producer invoice by product', invoice_by_product_account_url(@account) %></li>
  </ul>
<% end %>

<h3>Products</h3>

  <div class="column span-18">
    <%= render :partial => "/common/product_small", :collection => @account.products %>
  </div>

<p><%= link_to 'Add a new product', new_account_product_path(@account,@product) %></p>
</div>
</div>
<%= render :partial => 'sidebar' %>
